@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Big Shoulders Display", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: white;
}

::placeholder{
    color: rgb(153, 153, 153);
    font-weight: bold;
    font-family: "Lexend Deca", cursive;
}

/* Principal */
.principal{
    max-width: 768px;
    margin: auto;
    text-align: center;
    border-radius: 1rem;
    padding: 10px;
    box-shadow:10px 10px 5px silver ;
    background-color: hsl(0, 0%, 0%);
}

input{
    width: 70%;
    padding: 10px;
}

#agregar{
    width: 70%;
    margin: 15px 0;
    padding: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: silver;
    border-radius: 1rem;
    font-size: 16px;
}

#agregar:hover{
    background-color: blueviolet;
}

ul { 
    text-align: left;
}

ul li{
    border-bottom: 1px dashed #333;
    margin: 8px 0;
}

span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 100%;
    text-align: center;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

span:hover{
    background-color: blue;
    cursor: pointer;
}
